// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.card.graphs{
    border-radius: 0;
}

.cell{
    display:inline;
    width: 50%;
    height: 100%;
    float: left;
    padding:5px 0;
    text-align: center;
    text-decoration: none;

    &:hover{
        text-decoration: none;
    }

    &.active{
        background-color: rgb(246, 161, 161);
        color: #fff;
        
    }

}

.tabs{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0;
    border-bottom: 0;
}

@media (max-width: 768px) {

    .table{
        width: 100%;

        &>thead{
            display: none;
        }

        & th{
            display: block;
            text-align: center;
            width: 100%;
        }


        & td{
            display: block;
            text-align: right;
            height: 42px;
            width: 100%;
            background-color:rgb(253, 251, 251);

            &::before{

                content: attr(data-label);
                float: left;

            }
        }
    }

  }



