// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



@media (max-width: 768px) {

    .table{
        width: 100%;

        &>thead{
            display: none;
        }

        & th{
            display: block;
            text-align: center;
            width: 100%;
        }


        & td{
            display: block;
            text-align: right;
            height: 42px;
            width: 100%;
            background-color:rgb(253, 251, 251);

            &::before{

                content: attr(data-label);
                float: left;

            }
        }
    }

  }



